* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  width: 100%;
}
.header {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
}
.header img {
  width: 200px;

}
.cta1 {
  padding: 5px 10px 5px 10px;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 20px;
  color: hsl(322, 100%, 66%);
}
.title_container {
  text-align: center;
  padding: 70px 50px 20px 50px;

}
h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}

.title_container p {
  font-size: 20px;
  padding: 30px 0;
  width: 40%;
}

.body_img img {
  width: 80%;
  margin-top: 20px;
}

.cta2 {
  padding: 10px 20px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  margin: 30px 0;
  color: white;
  font-size: 17px;
}

.review {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  flex-direction: row;

   margin: 50px 250px; 
}
.review img {
  width: 40px;
}
.formed,.message{
  padding: 30px;
}
.review p{
  text-align: center;
  font-size: 16px;
}

.grow {
  display: flex;
  margin-top: -0.5em;
  padding: 0 15px;
  justify-content: space-between;
  background-color: hsl(207, 100%, 98%);
}
.grow_text {
  padding: 200px 50px;
}
.grow_text h1 {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: left;
}
.grow_text p {
  font-size: 17px;
}
.grow_img img {
  padding: 50px;
}

.conversation {
  display: flex;
  padding-top: 100px;
}
.conversation_text {
  padding-top: 80px;
  padding-right: 80px;
}
.conversation_text h2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 700;
}
.conversation_text p {
  font-size: 17px;
}
.conversation_img img {
  padding-left: 50px;
  width: 80%;
}
.users_container {
  margin-top: 62px;
}
.users {
  margin-top: -0.5em;
  display: flex;
  background-color: hsl(207, 100%, 98%);
}
.users_text {
  padding-top: 150px;
  padding-left: 50px;
}
.users img {
  padding-right: 100px;
}

.users_text h2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 700;
}
.users_text p {
  font-size: 17px;
}
.exploreCommunity {
 
  margin-top: 65px;
  text-align: center;
}

.exploreCommunity h2 {
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
}

.footer_container {
  margin-top: 94px;
}
.footer2 {
   margin-top: -0.5em; 
  display: flex;
  background-color: hsl(192deg 100% 9%);
  /* height: 6cm; */
  color: white;
  align-items: center;
}

.footer2 img {
  width: 20px;
  margin-right: 10px;
}
.footer2 .logo_container {
  display: flex;
}
.footer2 .newsletter h2 {
  padding-bottom: 20px;
  font-size: 30px;
}
.footer2 .newsletter {
  padding: 50px 100px;
}
.footer2 .newsletter form {
  margin-top: 30px;
  display: flex;
}
input[type="text"] {
  width: 3 7cm;
  margin-right: 10px;
}
button[type="submit"] {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}
.footer2 .huddle {
  padding: 50px 100px;
}
.footer2 .huddle p {
  padding-top: 5px;
}
.footer2 .huddle h2 {
  font-size: 40px;
}
.footer2 p {
  font-size: 17px;
}

img {
  width: 100%;

}
.logo_container img {
  width: 35px;
}

.icons i {
  width: 50px;
  font-size: 25px;
  padding-top: 30px;
  padding-right: 20px;
}

@media only screen and (max-width:375px){
  .title_container {
    text-align: center;
    padding: 20px 20px 20px 20px;
  
  }
  .title_container p {
    font-size: 20px;
    padding: 20px 20px  20px 20px;
    width: 100%;
    
  }
  
  h1 {
    font-size: 27px;
    text-align: center;
    font-weight: 700;
  }
  .header {
    padding: 20px 20px;
  width: 100%;
  }
 
  .review{
    padding: 30px 120px 30px 120px;
    flex-direction: column;
    margin: 0px 0px; 
  justify-content: space-evenly;
  }
  .body_img{

  }
  .footer2 {
    flex-direction: column-reverse;
    padding: 10px 10px;
    margin-top: -0.3em;
  }
  .header img {
    width: 90px;

    
  }
  .exploreCommunity h2 {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }

 
  .body_img img {
    width: 60%;
  }
  .footer2 .newsletter {
    padding: 10px 10px;
  }
  .footer2 .huddle {
    padding: 10px 10px;
  }

  .conversation_text {
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .users {
    margin-top: 0.3em;
   
  }
  .users_text {
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  input[type="text"] {
    width: 3 7cm;
    margin-right: 5px;
  }

  .grow {
   flex-direction:column-reverse;
    margin-top: -0.5em;
    padding: 0 15px;

  }
  .grow_text {
    padding: 50px 50px;
  }
  .grow_img img {
    width: 100%;
    padding: 15px;
  }
  .conversation{
    padding: 0 15px;
    flex-direction:column;
  }
  .users {
    align-items: center;
    padding: 0 15px;
    margin-top: -0.5em;
   flex-direction: column-reverse;
  }
  .users img{
    padding-left: 50px;
   width: 80%;
      padding-right: 0px;
  
  };


}

@media only screen and (max-width:1440px){
  
}

